body{
    font-family: open sans;
}

.navbar{
    padding-left: 110px;
    background-color: #3a12ec;
}

.content .judul{
    padding-top: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.content .data{
    padding-top: 10px;
}
